.inp {
    margin: 1rem auto;
    width: 80%;
    --background: #262626 !important;

    border-radius: 5px;
}

.normalMenu ion-toolbar {
    --color: #ffffff;
}

.normalMenu ion-list ion-item{
    --color: #ffffff;
    --background: #2d2d2d;
    --color-hover: #353535;
}

.userMenu ion-toolbar {
    --color: #ffffff;
}

.userMenu ion-list ion-item{
    --color: #ffffff;
    --background: #2d2d2d;
    --color-hover: #353535;
}



.logoForm{
    margin: 0 auto;
    width: 150px;
}

.btn {
    width: 80%;

}

.formLogin{
    display: none;
}

.formLogin, .formRegister{
    margin-top:40%; 
}

.formAccChange{
    opacity: .7;
}

.formAccChange span{
    color: rgb(0, 110, 255);
    cursor: pointer;
}
