<ion-app>
  <!-- UNLOGGED USER MENU -->
    <ion-menu *ngIf="!user" side="end" menuId="userMenu" contentId="main" class="userMenu" type="push">
        
        <ion-content style="text-align: center;" class="formContent">
          
          <div class="formRegister" id="regForm">

            <ion-img src="../assets/img/logo.png" class="logoForm"></ion-img>

            <ion-input [(ngModel)]="username" type="text" class="inp" padding placeholder="Usuario"></ion-input>

            <ion-input [(ngModel)]="email" type="email" class="inp" padding placeholder="Correo Electrónico"></ion-input>
                     
            <ion-input [(ngModel)]="passwd" type="password" class="inp" padding placeholder="Contraseña"></ion-input>
            
            <ion-button color="primary" (click)="register()" class="btn">Registrarse</ion-button>

            <br>
            <ion-label class="formAccChange">Ya tienes cuenta? <span (click)="logForm()">Inicia Sesión</span> </ion-label>
          
          </div>

          <div class="formLogin" id="logForm">

              <ion-img src="../assets/img/logo.png" class="logoForm"></ion-img>
  
              <ion-input [(ngModel)]="email" type="text" class="inp" padding placeholder="Email"></ion-input>
                       
              <ion-input [(ngModel)]="passwd" type="password" class="inp" padding placeholder="Contraseña"></ion-input>
              
              <ion-button color="primary" class="btn" (click)="login()"> Iniciar Sesión</ion-button>

              <br>
              <ion-label class="formAccChange">Todavía no tienes cuenta? <span (click)="regForm()">Regístrate</span> </ion-label>
            </div>


        </ion-content>
      </ion-menu>

    <!-- USER MENU -->
    <ion-menu *ngIf="user" side="end" menuId="userMenu" class="userMenu" contentId="main" class="userMenu" type="push">
        <ion-header >
          <ion-toolbar padding >
            <ion-title no-padding padding-top>{{ username }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
              <ion-item *ngFor="let compU of componentsUserMenu" 
                        [routerLink]="compU.redirectTo" detail (click)="closeMenu()">
                <ion-icon slot="start" [name]="compU.icon" mode></ion-icon>
                <ion-label>{{compU.name}}</ion-label>
             </ion-item>
            <ion-item (click)="darkMode($event)">
                <ion-label>Dark Mode</ion-label>
                <ion-toggle [(ngModel)]="aaaa" slot="end" name="asdasd"></ion-toggle>
            </ion-item>

          </ion-list>
        </ion-content>
      </ion-menu>


    
    <!-- NORMAL MENU -->
    <ion-menu side="start" menuId="main" contentId="main" type="push" class="normalMenu">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menú</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          
          <ion-list>

            <ion-item lines="full" *ngFor="let comp of componentsMenu" 
                      [routerLink]="comp.redirectTo" detail (click)="closeMenu()">
                <ion-icon slot="start" [name]="comp.icon" mode></ion-icon>
                <ion-label>{{comp.name}}</ion-label>
            </ion-item>
            
          </ion-list>
        </ion-content>
      </ion-menu>

      

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
