<ion-header no-border>
  <ion-toolbar color="light" mode="ios">
    <ion-button fill="clear" (click)="openMenu()">
      <ion-icon name="menu" color="dark"></ion-icon>
    </ion-button>
    <ion-title>
      StrikePool
    </ion-title>
    <ion-avatar slot="end" class="avatar ion-margin-end"  (click)="userMenu()">
      <ion-img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&s=1000"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>
